.Drum {
    border: .3rem solid black;
    border-radius: .5rem;
    margin: .4rem;
    font-size: 1.0rem;
    padding: .5rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
    text-transform:uppercase;
    min-width: 100px;
    max-width: 125px;
    height: 55px;
  }

.Drum > div:first-child {
    font-size: 2em;
}

.Drum > div:nth-child(2) {
    font-size: .6em;
    font-weight: bold;
    color: #ffde85;
}
  
